@font-face {
    font-family: 'Armin Soft Semi Italic';
    src: url('ArminSoft-SemiBoldItalic.eot');
    src: local('Armin Soft Semi Bold Italic'), local('ArminSoft-SemiBoldItalic'),
        url('ArminSoft-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-SemiBoldItalic.woff2') format('woff2'),
        url('ArminSoft-SemiBoldItalic.woff') format('woff'),
        url('ArminSoft-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft Thin Italic';
    src: url('ArminSoft-ThinItalic.eot');
    src: local('Armin Soft Thin Italic'), local('ArminSoft-ThinItalic'),
        url('ArminSoft-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-ThinItalic.woff2') format('woff2'),
        url('ArminSoft-ThinItalic.woff') format('woff'),
        url('ArminSoft-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft Ultra Italic';
    src: url('ArminSoft-UltraBoldItalic.eot');
    src: local('Armin Soft Ultra Bold Italic'), local('ArminSoft-UltraBoldItalic'),
        url('ArminSoft-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-UltraBoldItalic.woff2') format('woff2'),
        url('ArminSoft-UltraBoldItalic.woff') format('woff'),
        url('ArminSoft-UltraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft Italic';
    src: url('ArminSoft-RegularItalic.eot');
    src: local('Armin Soft Italic'), local('ArminSoft-RegularItalic'),
        url('ArminSoft-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-RegularItalic.woff2') format('woff2'),
        url('ArminSoft-RegularItalic.woff') format('woff'),
        url('ArminSoft-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft Variable';
    src: url('ArminSoft-Variable.eot');
    src: local('Armin Soft Variable'), local('ArminSoft-Variable'),
        url('ArminSoft-Variable.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-Variable.woff2') format('woff2'),
        url('ArminSoft-Variable.woff') format('woff'),
        url('ArminSoft-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Thin';
    src: url('ArminSoft-Thin.eot');
    src: local('Armin Soft Thin'), local('ArminSoft-Thin'),
        url('ArminSoft-Thin.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-Thin.woff2') format('woff2'),
        url('ArminSoft-Thin.woff') format('woff'),
        url('ArminSoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Normal';
    src: url('ArminSoft-Normal.eot');
    src: local('Armin Soft Normal'), local('ArminSoft-Normal'),
        url('ArminSoft-Normal.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-Normal.woff2') format('woff2'),
        url('ArminSoft-Normal.woff') format('woff'),
        url('ArminSoft-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Ultra';
    src: url('ArminSoft-UltraLight.eot');
    src: local('Armin Soft Ultra Light'), local('ArminSoft-UltraLight'),
        url('ArminSoft-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-UltraLight.woff2') format('woff2'),
        url('ArminSoft-UltraLight.woff') format('woff'),
        url('ArminSoft-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Semi';
    src: url('ArminSoft-SemiBold.eot');
    src: local('Armin Soft Semi Bold'), local('ArminSoft-SemiBold'),
        url('ArminSoft-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-SemiBold.woff2') format('woff2'),
        url('ArminSoft-SemiBold.woff') format('woff'),
        url('ArminSoft-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Black';
    src: url('ArminSoft-Black.eot');
    src: local('Armin Soft Black'), local('ArminSoft-Black'),
        url('ArminSoft-Black.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-Black.woff2') format('woff2'),
        url('ArminSoft-Black.woff') format('woff'),
        url('ArminSoft-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Ultra Italic';
    src: url('ArminSoft-UltraLightItalic.eot');
    src: local('Armin Soft Ultra Light Italic'), local('ArminSoft-UltraLightItalic'),
        url('ArminSoft-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-UltraLightItalic.woff2') format('woff2'),
        url('ArminSoft-UltraLightItalic.woff') format('woff'),
        url('ArminSoft-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft Italic';
    src: url('ArminSoft-NormalItalic.eot');
    src: local('Armin Soft Normal Italic'), local('ArminSoft-NormalItalic'),
        url('ArminSoft-NormalItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-NormalItalic.woff2') format('woff2'),
        url('ArminSoft-NormalItalic.woff') format('woff'),
        url('ArminSoft-NormalItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft Black Italic';
    src: url('ArminSoft-BlackItalic.eot');
    src: local('Armin Soft Black Italic'), local('ArminSoft-BlackItalic'),
        url('ArminSoft-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-BlackItalic.woff2') format('woff2'),
        url('ArminSoft-BlackItalic.woff') format('woff'),
        url('ArminSoft-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Soft';
    src: url('ArminSoft-Regular.eot');
    src: local('Armin Soft'), local('ArminSoft-Regular'),
        url('ArminSoft-Regular.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-Regular.woff2') format('woff2'),
        url('ArminSoft-Regular.woff') format('woff'),
        url('ArminSoft-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Soft Ultra';
    src: url('ArminSoft-UltraBold.eot');
    src: local('Armin Soft Ultra Bold'), local('ArminSoft-UltraBold'),
        url('ArminSoft-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('ArminSoft-UltraBold.woff2') format('woff2'),
        url('ArminSoft-UltraBold.woff') format('woff'),
        url('ArminSoft-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

